@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superheros Database</h1>
    <br />
    <p class="lead">This website allows you to create a database of Superhereoes and store their information</p>
    <p class="lead">You can enter their name, alter ego, abilities, and catchprhase</p>
</div>

<div class="row">
    <img width="100%" src= "@Url.Content("https://fsmedia.imgix.net/fb/76/59/cc/5afa/4138/997d/ea1a75e592a3/2000cb20160115021820.jpeg?rect=1392%2C1274%2C11540%2C5761&auto=format%2Ccompress&dpr=2&w=650")" alt="Deadpool1"/>
</div>